.attribution {
	padding: 3em 0;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.attribution a {
	color: #fff;
}


/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
	text-decoration: none;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

@media only screen and ( max-width: 32.5em ) /* 520 */
{
	#wrapper
	{
		width: 100%;
		height: auto;
		position: static;
		padding: 8em 1.25em; /* 50 20 */
		margin: 0;
	}
}
.audioplayer-time.audioplayer-time-duration,.audioplayer-time.audioplayer-time-current{
	display: none;
}