.crud-header {
	border: 1px solid #ddd;
    border-bottom: none;
    padding: 10px;
}
#crud-portafolios thead {
	font-weight: bold;
}
#crud-portafolios thead th, #crud-portafolios tbody td{
	text-align: center;
    vertical-align: middle;
}
#crud-portafolios .imagen-principal-thumb {
	width: 100%;
}
#crud-portafolios .imagen-principal-th {
	width: 10%;
}
#crud-portafolios .acciones-td {
	white-space: nowrap;
    width: 1%;
}
.red {
	color: #e4000c !important;
}
.dropdown-menu {
	min-width: 100px;
}
.delete-portafolio {
    border: none;
    background: none;
    padding: 3px 20px;
    width: 100%;
}
.delete-portafolio:hover {
	background-color: rgba(0,0,0,.04);
}