html, body{
	font-family: 'Dosis', sans-serif;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}

.txt-bold{
	font-weight: bold;
}

.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.alto-completo{
	position: relative;
	height: 100%;
}

.obj-centrar{
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.obj-izq{
	margin-left: 0;
	margin-right: auto;
}
.obj-der{
	margin-left: auto;
	margin-right: 0;
}

.link-wbx{
	outline: none;
	display: inline-block;
	text-decoration: none;
}

.link-goapp{
	outline: none;
	display: inline-block;
	text-decoration: none;
}
.link-goapp:hover,
.link-goapp:active,
.link-goapp:focus{
	text-decoration: none;
}

.espaciado-a{
	margin-top: 10px;
	margin-bottom: 10px;
}

.row-sinborde{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.v-center-contenedor {
	display: table;
	height: 100%;
	width: 100%;
	position: relative;
}

.v-center-contenido{
	display: table-cell;
	vertical-align: middle;
}

.v-bottom-contenido{
	display: table-cell;
	vertical-align: bottom;
}
.v-center-contenido-h{
	text-align: center;
}

.mayusculas{
	text-transform: uppercase;
}

.frm-error{
	display: inline;
	margin-right: 10px;
	margin-left: 0px;
	background-color: #EFC02D;
	margin-top: 0;
	margin-bottom: 0;
}


.obj-centrar{
	position: relative;
	margin: 0 auto;
}

.txt-mayus{
	text-transform: uppercase;
}
.txt-blanco{
	color: #FFFFFF;
}
.txt-subrayado{
	text-decoration: underline;
}

.login-box{
}

.borde-recto{
	border-radius: 0px;
}

.btn-plano{
	background-image: none !important;
	border-radius: 0px !important;
}

.btn-goapp-gradiente,
#main-table-box .form-button-box .btn,
#main-table-box input[type=button],
#main-table-box .qq-upload-button,
#main-table-box .ui-widget-header{
	background: -moz-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,218,255,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
	color: #FFFFFF;
	text-shadow: none;
	border-radius: 5px;
	border: none;
}
.btn-goapp-gradiente:hover,
.btn-goapp-gradiente:focus,
.btn-goapp-gradiente:active,
#main-table-box .form-button-box .btn:hover,
#main-table-box .form-button-box .btn:focus,
#main-table-box .form-button-box .btn:active,
#main-table-box input[type=button]:hover,
#main-table-box input[type=button]:active,
#main-table-box input[type=button]:focus,
#main-table-box .qq-upload-button:hover,
#main-table-box .qq-upload-button:active,
#main-table-box .qq-upload-button:focus{
	background: -moz-linear-gradient(270deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, rgba(153,218,255,1)), color-stop(31%, rgba(105,190,215,1)), color-stop(60%, rgba(0,128,128,1)), color-stop(82%, rgba(0,128,128,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* ie10+ */
	background: linear-gradient(180deg, rgba(153,218,255,1) 18%, rgba(105,190,215,1) 31%, rgba(0,128,128,1) 60%, rgba(0,128,128,1) 82%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
	color: #FFFFFF;
	text-shadow: none;
}

.flexigrid div.mDiv{
	background-image: none;
	background-color: #226f77;
	color: #FFFFFF;
	border: none;
	font-weight: normal;
	font-size: 18px;
}

.form-field-box.even,
.flexigrid tr.erow td{
	background-color: #e7f1f2;
}
.flexigrid div.mDiv div.ptogtitle span,
.flexigrid div.mDiv div.ptogtitle.vsble span{
	border: none;
	background-color: #FFFFFF;
	color: #226f77;
}

.btn-goapp{
	text-transform: uppercase;
	background-color: #44A5B6;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	background-image: none;
}

.btn-goapp:hover,
.btn-goapp:focus,
.btn-goapp:active{
	background-color: #FFFFFF;
	color: #44A5B6;
	border: 1px solid #44A5B6;
}

.btn-goapp2{
	text-transform: uppercase;
	background-color: #FFE400;
	color: #44A5B6;
	border: 1px solid #FFE400;
	border-radius: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	background-image: none;
}

.btn-goapp2:hover,
.btn-goapp2:focus,
.btn-goapp2:active{
	background-color: #44A5B6;
	color: #FFE400;
	border: 1px solid #44A5B6;
}

.input-qhh{
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	background-color: #FFFFFF;
	border-radius: 0px !important;

	border-color: #44A5B6;
}
#frm-login .input-group-addon{
	border-radius: 0px;	
	background-color: #FFFFFF;
	border-color: #44A5B6;
	color: #44A5B6;
}

#frm-login fieldset .input-group{
	border-radius: 0px;
}

.input-qhh:focus{
	border-color: #31708f;
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 91, 0, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(243, 91, 0, .6);*/
	box-shadow: none;
}

.goapp-navbar-brand{
	padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-goapp{
	background-image: url("../img/goapp/textura.jpg");
	background-position: left top;
	border-color: #bce8f1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar-brand img.img-brand-goapp{
	clear: both;
	height: 50px;
	margin-right: 5px;
	text-align: center;
}

.main-menu-wb > li > a,
div.flexigrid a{
	color: #000000;
}

.main-menu-wb > li > a:hover,
.main-menu-wb > li > a:focus,
div.flexigrid a:hover,
div.flexigrid a:focus{
	color: #44A5B6;
	font-weight: bold;
}

.flexigrid div.bDiv tr:hover td,
.flexigrid div.bDiv tr:hover td.sorted,
.flexigrid div.bDiv tr.trOver td.sorted,
.flexigrid div.bDiv tr.trOver td{
	background: #FFFF00;
    border-left: 1px solid #FFFF00;
	border-bottom: 1px dotted #A8EBA9;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus{
	background-color: #44A5B6;
}

.quickSearchBox{
	/*display: none;*/
}

.fc-event{
	background-color: #44A5B6;
	border: 1px solid #44A5B6;
}

.fc-ltr .fc-event-hori.fc-event-end:hover,
.fc-rtl .fc-event-hori.fc-event-start:hover{
	color: #FFFFFF;
	background-color: #458D51;
	border: 1px solid #458D51;
}

.box-header{
	background-image: none;
	background-color: #d9edf7;
    border-color: #bce8f1;
	color: #44A5B6;
}

.flexigrid div.fbutton{
	color: #FF3300;
}

div.form-div input.time-input
{
	width:100px !important;
}

.contenedor-mapa{
	height: 400px;
}

#mapaIframe{
	width: 100%;
	height: 100%;
	border: none;
}

.goapp-sidebar-nav,
.goapp-box-inner{
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #fbe500;
    background-color: #FFFFFF;
}

.goapp-sidebar-nav ul.main-menu li.active{
	margin-left: 0px;
}

.img-gota{

}

/*
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
*/



/*Media Querys*/
/* Large desktop */
@media (min-width: 1921px) {

}

@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	html, body{
		position: relative;
		height: auto;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	html, body{
		position: relative;
		height: auto;
	}
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
   
}

/* Firefox 18- */
input:-moz-placeholder,
textarea:-moz-placeholder {
   
}

/* Firefox 19+ */
input::-moz-placeholder,
textarea::-moz-placeholder {
   
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
   
}

.m-auto{
	margin: auto;
	width: 100%;
}

.indicador-derecha{
	right: -4px !important;
    width: 10%;
}

.indicador-izquierda{
	left: -4px !important;
    width: 10%;
}

.fondo-btn-registrate {
    background: #eed533;
}

.ms-auto{
	margin: auto;
}

.ind-izquierda{
	margin-left: -30px !important;
}

.ind-derecha{
	margin-right: -30px !important;
}

.img-center{
	margin: 0 auto;
}