@font-face {
  font-family: 'goapp';
  src:  url('../fonts/goapp.eot?l1ze8q');
  src:  url('../fonts/goapp.eot?l1ze8q#iefix') format('embedded-opentype'),
    url('../fonts/goapp.ttf?l1ze8q') format('truetype'),
    url('../fonts/goapp.woff?l1ze8q') format('woff'),
    url('../fonts/goapp.svg?l1ze8q#goapp') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'goapp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-promo:before {
  content: "\e904";
}
.icon-benefit:before {
  content: "\e906";
}
.icon-geo:before {
  content: "\e907";
}
.icon-like:before {
  content: "\e905";
}
.icon-shop:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-scroll:before {
  content: "\e90a";
}
.icon-logohome:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}

