html, body{
	position: relative;
	width: 100%;
	height: 100%;
}

header, section{
	position: relative;
	width: 100%;
	min-height: 100%;
}

.col-centered{
	float: none;
    margin: 0 auto;
}

/*
 *------------------------------------------------
 * NAVBAR
 * -----------------------------------------------
*/
nav{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	box-shadow: 0px 2px 10px gray;
}
.brand-container-normal{
	padding-top: 15%;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.brand-container-scrolled{
	padding-top: 0px;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
nav li a:hover {
	font-weight: 700;
}


/*
 *------------------------------------------------
 * HEADER
 * -----------------------------------------------
*/
header{
	background-image: url("../img/fondohome.jpg");
	background-repeat: no-repeat;
	background-position: center top  !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}
.header-row1{
	padding-top: 18%;
	padding-bottom: 1%;
}
.header-row2{
	padding-bottom: 1%;
}
.header-row3{
	padding-bottom: 5%;
}


/*
 *------------------------------------------------
 * CARACTERISTICAS
 * -----------------------------------------------
*/
#caracteristicas{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}
.caracteristicas-row1{
	padding-top: 8%;
}
.caracteristicas-row2{
	padding-top: 1%;
}
.caracteristicas-row3{
	padding-top: 5%;
	padding-bottom: 2.5%;
}
.caracteristicas-container{
	padding-top: 5%;
	padding-left: 10%;
}
.caracteristicas-container-inner{
	padding-left: 8%;
}
.caracteristicas-row1-title{
	text-align: center;
	color: #2ba0aa;
}
.caracteristicas-row1-text{
	text-align: center;
	color: #2ba0aa;
}
.caracteristicas-sides-titles{
	font-weight: 700;
	color: #efd135;
	text-align: left;
}
.caracteristicas-sides-text{
	color: #656565;
	text-align: justify;
}
.left-icon{
	color: #efd135;
	display: block;
}
.caracteristicas-img{
	margin-left: auto;
	margin-right: auto;
}


/*
 *------------------------------------------------
 * USER INTERFACE
 * -----------------------------------------------
*/
#ui{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	background-image: url("../img/fondoui.jpg");
	background-repeat: no-repeat;
	background-position: center top  !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
.ui-row1{
	padding-top: 8%;
}
.ui-row2{
	padding-top: 2%;
	padding-bottom: 5%;
}
.ui-row1-text{
	text-align: center;
	color: #ffffff;
}


/*
 *------------------------------------------------
 * BENEFICIOS
 * -----------------------------------------------
*/
#clientes{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	background-image: url("../img/fondocaracteristicas.jpg");
	background-repeat: no-repeat;
	background-position: center top  !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
.cliente-row1{
	padding-top: 7%;
}
.cliente-row2-left{
	padding-top: 50%;
}
.cliente-row2-left-inner{
	padding-left: 7%;
}
.cliente-row2-right{
	padding-top: 100%;
}
.cliente-row2-right-inner{
	padding-right: 7%;
}
.cliente-row2{
	padding-bottom: 15%;
}
.cliente-row1-text{
	text-align: center;
	color: #EFD433;
}
.cliente-row2-title-left{
	text-align: right;
	color: #646765;
}
.cliente-row2-text-left{
	text-align: justify;
	color: #646765;
}
.cliente-row2-title-right{
	text-align: left;
	color: #646765;
}
.cliente-row2-text-right{
	text-align: justify;
	color: #646765;
}
.cliente-row3-text{
	text-align: center;
	color: #ffffff;
}


/*
 *------------------------------------------------
 * CONTACTO
 * -----------------------------------------------
*/
#contacto{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #ffffff;	
	background-image: url("../img/fondocontacto.jpg");
	background-size:100%;
	background-repeat: no-repeat;
	background-position: center top  !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
.contacto-row1{
	padding-top: 8%;
}
.contacto-row2{
	padding-top: 8%;
	padding-bottom: 7%;
}
.contacto-row1-title{
	font-weight: 700;
	text-align: center;
}
.contacto-row1-text{
	font-weight: 300;
	text-align: center;
}
/*
 * Formulario
 * -----------------------------------------------
*/
#contacto input[type=text],
#contacto input[type=email]{
	border: 1px solid white;
	background-color: #2F9FAD;
	color: #ffffff;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
#contacto input[type=text]:focus,
#contacto input[type=email]:focus{
	background-color: #ffffff;
	color: #2F9FAD;
}
#contacto input[type=submit]{
	border: 1px solid white;
	background-color: #2F9FAD;
	font-weight: 700;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 10px;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
#contacto input[type=submit]:hover{
	background-color: #ffffff;
	color: #2F9FAD;
}
#contacto textarea{
	border: 1px solid white;
	background-color: #2F9FAD;
	color: #ffffff;
	resize: none;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
#contacto textarea:focus{
	background-color: #ffffff;
	color: #2F9FAD;
}


/*
 *------------------------------------------------
 * FOOTER
 * -----------------------------------------------
*/
#footer{
	background-color: white;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #ffffff;	
}
.footer-row1{
	padding-top: 5%;
	padding-bottom: 2%;
}
.footer-row3{
	padding-top: 2%;
	padding-bottom: 2%;
}
.footer-row3-text{
	text-align: center;
	color: #646765;
}
.footer-logo-wrapper{
	text-align: center;
}
.footer-logo-container{
	display: inline-block;
	border-top: thin solid #2F9FAD;
    border-bottom: thin solid #2F9FAD;
	padding-top: 5%;
	padding-bottom: 2%;
}
.logo{
	color: #2F9FAD;
}
.logo-left{
	float: left;
}
.logo-right{
	float: right;
}


/*
 *------------------------------------------------
 * MISC
 * -----------------------------------------------
*/
.bold{
	font-weight: 700;
}
.center-col{
	float: none;
	margin: 0 auto;
}

#contacto input::-webkit-input-placeholder,
#contacto textarea::-webkit-input-placeholder {
   color: #ffffff;
}

/* Firefox 18- */
#contacto input:-moz-placeholder,
#contacto textarea:-moz-placeholder {
   color: #ffffff;
}

/* Firefox 19+ */
#contacto input::-moz-placeholder,
#contacto textarea::-moz-placeholder {
   color: #ffffff;
}

#contacto input:-ms-input-placeholder,
#contacto textarea:-ms-input-placeholder {
   color: #ffffff;
}



/*
 *------------------------------------------------
 * MEDIA QUERIES
 * -----------------------------------------------
*/

@media (min-width:1600px){
	.logo-home{
		font-size: 50px;
		color: #ffffff;
		display: block;
	}
	.header-row1-text1{
		color: #2ba0aa;
		font-size: 65px;
	}
	.header-row1-text2{
		color: #ffffff;
		font-size: 30px;
	}
	.header-row1-img{
		width: 200px;
		height: auto;
	}
	.header-row2-img{
		width: 200px;
		height: auto;
	}


	/*
	 * 2 -> Caracteristicas
	 * -----------------------------------------------
	*/
	.caracteristicas-sides-size{
		height: 270px;
	}
	.left-icon{
		font-size: 35px;
	}
	.caracteristicas-row1-title{
		font-size: 35px;
	}
	.caracteristicas-row1-text{
		font-size: 25px;
	}
	.caracteristicas-sides-titles{
		font-size: 25px;
	}
	.caracteristicas-sides-text{
		font-size: 20px;
	}


	/*
	 * 3 -> User Interface
	 * -----------------------------------------------
	*/	
	.ui-row1-text{
		font-size: 35px;
	}
	.item{
	  margin: 30px;
	}


	/*
	 * 4 -> Beneficios
	 * -----------------------------------------------
	*/
	.cliente-row1-text{
		font-size: 35px;
	}
	.cliente-row2-title-left{
		font-size: 30px;
	}
	.cliente-row2-text-left{
		font-size: 25px;
	}
	.cliente-row2-title-right{
		font-size: 30px;
	}
	.cliente-row2-text-right{
		font-size: 25px;
	}


	/*
	 * 5 -> Contacto
	 * -----------------------------------------------
	*/
	.contacto-row1-title{
		font-size: 35px;
	}
	.contacto-row1-text{
		font-size: 25px;
	}

	
	/*
	 * 6 -> Footer
	 * -----------------------------------------------
	*/
	.logo{
		font-size: 35px;
	}
	.footer-logo-container{
		width: 50%;
	}

	.navbar-nav li a {
		line-height: 65px;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.navbar-scrolled li a{
		line-height: 30px;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-img-normal{
		width: 100%;
	    -webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-img-scrolled{
		-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	    transform: scale(0.8);
	    -webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
}

@media (max-width:1599px) {
	/*
	 * 1 -> Header
	 * -----------------------------------------------
	*/
	.logo-home{
		font-size: 35px;
		color: #ffffff;
		display: block;
	}
	.header-row1-text1{
		color: #2ba0aa;
		font-size: 60px;
	}
	.header-row1-text2{
		color: #ffffff;
		font-size: 25px;
	}
	.header-row1-img{
		width: 150px;
		height: auto;
	}
	.header-row2-img{
		width: 150px;
		height: auto;
	}


	/*
	 * 2 -> Caracteristicas
	 * -----------------------------------------------
	*/
	.caracteristicas-sides-size{
		height: 250px;
	}
	.left-icon{
		font-size: 30px;
	}
	.caracteristicas-row1-title{
		font-size: 30px;
	}
	.caracteristicas-row1-text{
		font-size: 20px;
	}
	.caracteristicas-sides-titles{
		font-size: 20px;
	}
	.caracteristicas-sides-text{
		font-size: 18px;
	}


	/*
	 * 3 -> User Interface
	 * -----------------------------------------------
	*/
	.ui-row1-text{
		font-size: 30px;
	}
	.item{
		margin: 2%;
	}


	/*
	 * 4 -> Beneficios
	 * -----------------------------------------------
	*/
	.cliente-row1-text{
		font-size: 30px;
	}
	.cliente-row2-title-left{
		font-size: 25px;
	}
	.cliente-row2-text-left{
		font-size: 21px;
	}
	.cliente-row2-title-right{
		font-size: 25px;
	}
	.cliente-row2-text-right{
		font-size: 21px;
	}
	.cliente-row3-text{
		font-size: 21px;
	}


	/*
	 * 5 -> Contacto
	 * -----------------------------------------------
	*/
	.contacto-row1-title{
		font-size: 30px;
	}
	.contacto-row1-text{
		font-size: 20px;
	}


	/*
	 * 6 -> Footer
	 * -----------------------------------------------
	*/
	.logo{
		font-size: 35px;
	}
	.footer-logo-container{
		width: 75%;
	}


	.navbar-nav li a {
		line-height: 50px;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.navbar-scrolled li a{
		line-height: 20px;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-img-normal{
		width: 100%;
	    -webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-img-scrolled{
		-webkit-transform: scale(0.8);
	    -ms-transform: scale(0.8);
	    transform: scale(0.8);
	    -webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
}

@media (max-width:1199px) {
	/*
	 * 1 -> Header
	 * -----------------------------------------------
	*/
	.logo-home{
		font-size: 25px;
		color: #ffffff;
		display: block;
	}
	.header-row1-text1{
		color: #2ba0aa;
		font-size: 40px;
	}
	.header-row1-text2{
		color: #ffffff;
		font-size: 15px;
	}
	.header-row1-img{
		width: 125px;
		height: auto;
	}
	.header-row2-img{
		width: 125px;
		height: auto;
	}


	/*
	 * 2 -> Caracteristicas
	 * -----------------------------------------------
	*/
	.caracteristicas-sides-size{
		height: 200px;
	}
	.left-icon{
		font-size: 25px;
	}
	.caracteristicas-row1-title{
		font-size: 30px;
	}
	.caracteristicas-row1-text{
		font-size: 20px;
	}
	.caracteristicas-sides-titles{
		font-size: 15px;
	}
	.caracteristicas-sides-text{
		font-size: 13px;
	}


	/*
	 * 3 -> User Interface
	 * -----------------------------------------------
	*/
	.ui-row1-text{
		font-size: 30px;
	}
	.item{
	  margin: 10px;
	}

	/*
	 * 4 -> Beneficios
	 * -----------------------------------------------
	*/
	.cliente-row1-text{
		font-size: 30px;
	}
	.cliente-row2-title-left{
		font-size: 20px;
	}
	.cliente-row2-text-left{
		font-size: 17px;
	}
	.cliente-row2-title-right{
		font-size: 20px;
	}
	.cliente-row2-text-right{
		font-size: 17px;
	}
	.cliente-row3-text{
		font-size: 17px;
	}


	/*
	 * 5 -> Contacto
	 * -----------------------------------------------
	*/
	.contacto-row1-title{
		font-size: 30px;
	}
	.contacto-row1-text{
		font-size: 20px;
	}



	/*
	 * 6 -> Footer
	 * -----------------------------------------------
	*/
	.logo{
		font-size: 30px;
	}
	.footer-logo-container{
		width: 75%;
	}

	.navbar-nav li a {
		line-height: 35px;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.navbar-scrolled li a{
		line-height: 10px;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-img-normal{
		width: 80%;
	    -webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-img-scrolled{
		-webkit-transform: scale(0.6);
	    -ms-transform: scale(0.6);
	    transform: scale(0.6);
	    -webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
}

@media (max-width:991px) {
	/*
	 * 1 -> Header
	 * -----------------------------------------------
	*/
	header{
		background-size: 100%;
	}
	.header-row1{
		padding-top: 50%;
		padding-bottom: 1%;
	}
	.logo-home{
		font-size: 35px;
		color: #ffffff;
		display: block;
	}
	.header-row1-text1{
		color: #2ba0aa;
		font-size: 45px;
	}
	.header-row1-text2{
		color: #ffffff;
		font-size: 22px;
	}
	.header-row1-img{
		width: 150px;
		height: auto;
	}
	.header-row2-img{
		width: 150px;
		height: auto;
	}


	/*
	 * 2 -> Caracteristicas
	 * -----------------------------------------------
	*/
	.caracteristicas-row1{
		padding-top: 20%;
	}
	.caracteristicas-row3{
		padding-bottom: 10%;
	}
	.caracteristicas-sides-size{
		height: 200px;
	}
	.left-icon{
		font-size: 35px;
	}
	.caracteristicas-row1-title{
		font-size: 30px;
	}
	.caracteristicas-row1-text{
		font-size: 20px;
	}
	.caracteristicas-sides-titles{
		font-size: 25px;
	}
	.caracteristicas-sides-text{
		font-size: 20px;
	}


	/*
	 * 3 -> User Interface
	 * -----------------------------------------------
	*/
	.ui-row1{
		padding-top: 20%;
	}
	.ui-row2{
		padding-top: 10%;
	}
	.ui-row1-text{
		font-size: 30px;
	}
	.item{
		margin: 15%;
	}


	/*
	 * 4 -> Beneficios
	 * -----------------------------------------------
	*/
	.cliente-row1{
		padding-top: 20%;
	}
	.cliente-row1-text{
		font-size: 30px;
	}
	.cliente-row2-left{
		padding-top: 30%;
	}
	.cliente-row2-right{
		padding-top: 40%;
	}
	.cliente-row2-title-left{
		font-size: 25px;
	}
	.cliente-row2-text-left{
		font-size: 20px;
	}
	.cliente-row2-title-right{
		font-size: 25px;
	}
	.cliente-row2-text-right{
		font-size: 20px;
	}
	.cliente-row2-left-inner{
		padding-left: 15%;
		padding-right: 10%;
	}
	.cliente-row2-right-inner{
		padding-left: 10%;
		padding-right: 15%;
	}


	/*
	 * 5 -> Contacto
	 * -----------------------------------------------
	*/
	.contacto-row1{
		padding-top: 20%;
	}
	.contacto-row2{
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.contacto-row1-title{
		font-size: 30px;
	}
	.contacto-row1-text{
		font-size: 20px;
	}


	/*
	 * 6 -> Footer
	 * -----------------------------------------------
	*/
	.logo{
		font-size: 40px;
	}
	.footer-logo-container{
		width: 25%;
	}
	.footer-row1{
		padding-top: 10%;
		padding-bottom: 5%;
	}
	.footer-row3{
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.footer-logo-container{
		padding-top: 2%;
	}

	nav{
		font-size: 90%;
	}
	.navbar-nav li a {
		line-height: 35px;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.navbar-scrolled li a{
		line-height: 15px;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-img-normal{
		width: 65%;
	    -webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-img-scrolled{
		-webkit-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    transform: scale(0.9);
	    -webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-container-normal{
		padding-top: 15%;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	.brand-container-scrolled{
		padding-top: 5%;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		-o-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
}

@media (max-width: 767px){
	/*
	 * 1 -> Header
	 * -----------------------------------------------
	*/
	.logo-home{
		font-size: 25px;
		color: #ffffff;
		display: block;
	}
	.header-row1-text1{
		color: #2ba0aa;
		font-size: 27px;
	}
	.header-row1-text2{
		color: #ffffff;
		font-size: 17px;
	}
	.header-row1-img{
		width: 100px;
		height: auto;
	}
	.header-row2-img{
		width: 100px;
		height: auto;
	}


	/*
	 * 2 -> Caracteristicas
	 * -----------------------------------------------
	*/
	.caracteristicas-row1{
		padding-top: 20%;
	}
	.caracteristicas-row3{
		padding-bottom: 10%;
	}
	.caracteristicas-sides-size{
		height: 170px;
	}
	.left-icon{
		font-size: 25px;
	}
	.caracteristicas-row1-title{
		font-size: 25px;
	}
	.caracteristicas-row1-text{
		font-size: 15px;
	}
	.caracteristicas-sides-titles{
		font-size: 20px;
	}
	.caracteristicas-sides-text{
		font-size: 15px;
	}
	.caracteristicas-container{
		padding-top: 5%;
		padding-left: 5%;
	}


	/*
	 * 3 -> User Interface
	 * -----------------------------------------------
	*/
	.ui-row1{
		padding-top: 20%;
	}
	.ui-row2{
		padding-top: 10%;
	}
	.ui-row1-text{
		font-size: 25px;
	}
	.item{
		margin: 5%;
	}


	/*
	 * 4 -> Beneficios
	 * -----------------------------------------------
	*/
	.cliente-row1{
		padding-top: 20%;
	}
	.cliente-row2-left{
		padding-top: 45%;
	}
	.cliente-row2-right{
		padding-top: 35%;
	}
	.cliente-row1-text{
		font-size: 25px;
	}
	.cliente-row2-title-left{
		font-size: 20px;
	}
	.cliente-row2-text-left{
		font-size: 15px;
	}
	.cliente-row2-title-right{
		font-size: 20px;
	}
	.cliente-row2-text-right{
		font-size: 15px;
	}


	/*
	 * 5 -> Contacto
	 * -----------------------------------------------
	*/
	.contacto-row1{
		padding-top: 20%;
	}
	.contacto-row2{
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.contacto-row1-title{
		font-size: 25px;
	}
	.contacto-row1-text{
		font-size: 15px;
	}


	/*
	 * 6 -> Footer
	 * -----------------------------------------------
	*/
	.logo{
		font-size: 35px;
	}
	.footer-logo-container{
		width: 50%;
	}
	.footer-row1{
		padding-top: 10%;
		padding-bottom: 5%;
	}
	.footer-row3{
		padding-top: 5%;
		padding-bottom: 5%;
	}


	nav{
		font-size: 20px;
	}
	nav li a{
		font-size: 12px;
	}
	.navbar-nav li a {
		line-height: 20px;
	}
	.brand-img-normal{
		width: 15%;
	}
	.brand-img-scrolled{
		-webkit-transform: none;
	    -ms-transform: none;
	    transform: none;
	}
	.brand-container-normal{
		padding-top: 5%;
	}
}