.form-container {
    border: 1px solid #CCC;
    padding-top: 15px;
    padding-bottom: 15px;
}
textarea {
	resize: none;
}
#imagen_principal_input, #imagen_home_input, #imagenes_portafolio_input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.form-label {
	background-color: #CCC;
	font-weight: bold
}
.stepper {
	width: 100%;
}
.loading-gif {
	display: none;
	max-width: 15px;
}
#imagenes-portafolio-preview, #imagen-principal-preview {
	display: none;
}
.btn-erase {
    background: none;
    border: none;
	position: absolute;
	top: 0;
	right: 0;
}
.btn-erase span {
	background-color: #FFF;
	border: 1px solid #c9302c;
    border-radius: 20px;
    color: #c9302c;
    padding: 2.5px;
    transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}
.btn-erase span:hover {
	background-color: #c9302c;
	color: #FFF;
	transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}
.form-horizontal .error-label {
	color: #c9302c;
	display: none;
	text-align: left;
}