html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
}

#map { 
	height: 100%;
}

#owl-demo{
	position: absolute;
	bottom: 0px;
  background-color: rgba(0, 0, 0, 0.14); 
}

#owl-demo .item{
  margin: 3px;
  opacity: 0.85;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.google-card{
  background-color: #fff;
  padding: 19px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
  border-radius: 2px;
  border: 0;
  min-height: 20px;
  box-sizing: border-box;
  /*font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: Roboto;
  font-size: 0.85em;
}

.futuro{
  opacity: 0.4 !important; 
}

.btn-my-position{
  float: right;
  margin-top: -28px;
  margin-right: 14px;
  border-radius: 100%;
  background-color: white;
  margin: 0;
  padding: 8px;
  font-size: 26px;
  width: 26px;
  height: 26px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
  transition: box-shadow .28s cubic-bezier(0.4,0,.2,1);
  position: absolute;
  top: 1.5% !important;
  right: 1% !important;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255,255,255,.84);
  outline: 0!important;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
 
@media only screen and (max-device-width: 480px) {
    .google-card{
      padding: 8px;
      margin-bottom: 5px;
      font-size: 0.75em;
    }
}

.owl-item.active.center{
  background: #44a5b6;
}

.owl-item.active.center .item{
  opacity: 1 !important;
}

#img_triangule{
  position: absolute;
  right: 0.5%;
  width: 50px;
  transform: rotate(180deg);
}

/*SNACKBAR*/ 

/*
  Please note this CSS is currently in   prototype form. We'll implement a cleaned up version in Web Starter Kit.
*/

.paper-snackbar {
  transition-property: opacity, bottom, left, right, width, margin, border-radius;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  font-family: Roboto;
  font-size: 14px;
  min-height: 14px;
  background-color: #323232;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  line-height: 22px;
  padding: 18px 18px;
  bottom: 0px;
  opacity: 0;

}

@media (min-width: 640px) {
  .paper-snackbar {
    /*
    Desktop:
      Single-line snackbar height: 48 dp tall
      Minimum width: 288 dp
      Maximum width: 568 dp
      2 dp rounded corner
      Text: Roboto Regular 14 sp
      Action button: Roboto Medium 14 sp, all-caps text
      Default background fill: #323232 100%
    */

    min-width: 288px;
    max-width: 568px;
    display: inline-flex;
    border-radius: 2px;
    margin: 24px;
    bottom: -100px;
    
  }
}

@media (max-width: 640px) {
  .paper-snackbar {
  /*
  Mobile:
    Single-line snackbar height: 48 dp
    Multi-line snackbar height: 80 dp
    Text: Roboto Regular 14 sp
    Action button: Roboto Medium 14 sp, all-caps text
    Default background fill: #323232 100%  
  */
    left: 0px;
    right: 0px;
  }

  #img_triangule{
    right: 0.5%;
    width: 40px;
    transform: rotate(180deg);
  }
}

.paper-snackbar .action {
  background: inherit;
  display: inline-block;
  border: none;
  font-size: inherit;
  text-transform: uppercase;
  color: #ffeb3b;
  margin: 0px 0px 0px 10px;
  padding: 0px;
  min-width: min-content;
}

/*FIN*/