@font-face {
  font-family: 'cn-ferreccio';
  src:  url('../fonts/cn-ferreccio.eot?go77gw');
  src:  url('../fonts/cn-ferreccio.eot?go77gw#iefix') format('embedded-opentype'),
    url('../fonts/cn-ferreccio.ttf?go77gw') format('truetype'),
    url('../fonts/cn-ferreccio.woff?go77gw') format('woff'),
    url('../fonts/cn-ferreccio.svg?go77gw#cn-ferreccio') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cn-ferreccio-"], [class*=" cn-ferreccio-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cn-ferreccio' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cn-ferreccio-architect:before {
  content: "\e900";
}
.cn-ferreccio-blueprint:before {
  content: "\e901";
}
.cn-ferreccio-column:before {
  content: "\e902";
}
.cn-ferreccio-compass:before {
  content: "\e903";
}

