/*========================================================
                      Owl Carousel
=========================================================*/
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  -moz-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  -webkit-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

.owl-nav .owl-prev + .owl-next {
  margin-left: 0;
}

.owl-dots .owl-dot + .owl-dot {
  margin-left: 0;
}

.owl-dots {
  position: absolute;
  right: 0;
  top: 0px;
  background: transparent;
  left: 0;
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.owl-dots .owl-dot {
  display: inline-block;
  background: rgba(234, 234, 234, 0.5);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: .2s;
}
.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
  background: #fff;
}
@media (min-width: 768px) {
  .owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
    background: #31ccff;
  }
}
@media (min-width: 768px) {
  .owl-dots .owl-dot {
    background: #eaeaea;
  }
}
.owl-dots .owl-dot + .owl-dot {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .owl-dots .owl-dot + .owl-dot {
    margin-left: 4px;
  }
}
* + .owl-dots {
  margin-top: -55px;
}
@media (max-width: 767px) {
  .owl-dots {
    right: 50%;
    transform: translateX(50%);
  }
  * + .owl-dots {
    margin-top: -29px;
  }
}
@media (min-width: 768px) {
  .owl-dots {
    left: auto;
    right: 27px;
  }
}

.owl-carousel.owl-carousel--mod h3 {
  color: #fff;
}
.owl-carousel.owl-carousel--mod .owl-item .image-wrap-3 {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}
@media (min-width: 480px) {
  .owl-carousel.owl-carousel--mod .owl-item .image-wrap-3 {
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
    width: 70%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .owl-carousel.owl-carousel--mod .owl-item .image-wrap-3 {
    position: absolute;
    padding-bottom: 0px;
    right: 0px;
    transform: translateX(0px);
    width: 50%;
    bottom: -27px;
  }
}
.owl-carousel.owl-carousel--mod .owl-dots {
  position: absolute;
  background: transparent;
  top: auto;
  bottom: -6px;
  left: 0;
  right: 0;
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}
.owl-carousel.owl-carousel--mod .owl-dots .owl-dot {
  display: inline-block;
  background: rgba(234, 234, 234, 0.5);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: .2s;
}
.owl-carousel.owl-carousel--mod .owl-dots .owl-dot:hover, .owl-carousel.owl-carousel--mod .owl-dots .owl-dot.active {
  background: #fff;
}
.owl-carousel.owl-carousel--mod .owl-dots .owl-dot + .owl-dot {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .owl-carousel.owl-carousel--mod .owl-dots .owl-dot + .owl-dot {
    margin-left: 4px;
  }
}
* + .owl-carousel.owl-carousel--mod .owl-dots {
  margin-top: -55px;
}
@media (max-width: 767px) {
  .owl-carousel.owl-carousel--mod .owl-dots {
    right: 50%;
    transform: translateX(50%);
  }
  * + .owl-carousel.owl-carousel--mod .owl-dots {
    margin-top: -29px;
  }
}
@media (min-width: 1200px) {
  .owl-carousel.owl-carousel--mod .owl-dots {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: 41.7%;
    top: 81.8%;
  }
}
