@charset "UTF-8";
.search-form {
  display: none;
  position: fixed;
  width: 250px;
  left: 50%;
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  padding-top: 5px;
  z-index: 999;
  top: 52px;
}
.search-form_label {
  display: block;
  padding: 5px 40px 5px 10px;
  background: #fff;
  border: 1px solid #5e6162;
}
@media (min-width: 768px) {
  .search-form_label {
    padding: 9.5px 40px 9.5px 10px;
  }
}
.search-form_input {
  outline: none;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  vertical-align: baseline;
  box-shadow: none;
  color: #5e6162;
  display: block;
  width: 100%;
  font-size: 14px;
  height: 20px;
  line-height: 1.4;
}
.search-form_submit {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 6px;
  width: 25px;
  height: 22px;
  color: #5e6162;
  font: 400 18px/22px 'FontAwesome', sans-serif;
}
.search-form_submit:before {
  content: "";
}
.search-form_submit:hover {
  color: #31ccff;
}
@media (min-width: 768px) {
  .search-form {
    position: absolute;
    width: 500px;
    top: 102%;
  }
}

.search-form_toggle {
  float: right;
  display: inline-block;
  color: #fff;
  font: 400 32px/44px 'Material Icons';
  position: fixed;
  right: 25px;
  top: 7px;
  z-index: 99999999;
}
.search-form_toggle:before {
  content: "\e8b6";
}
.search-form_toggle.active, .search-form_toggle:hover {
  color: #acadae;
}
@media (min-width: 768px) {
  .search-form_toggle.active, .search-form_toggle:hover {
    color: #31ccff;
  }
}
.search-form_toggle.active:before {
  content: "\e5cd";
}
@media (min-width: 768px) {
  .search-form_toggle {
    position: absolute;
    top: 50px;
    right: 50px;
    color: #acadae;
  }
}

.search-form_toggle.active {
  color: #fff;
}
@media (min-width: 768px) {
  .search-form_toggle.active {
    color: #acadae;
  }
}
.search-form_toggle.active:hover {
  color: #acadae;
}
@media (min-width: 768px) {
  .search-form_toggle.active:hover {
    color: #31ccff;
  }
}

.search-form_liveout {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.lt-ie9 .search-form_liveout {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.search-form_liveout .search_list {
  font-size: 14px;
  line-height: 24px;
  background: #fff;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.search-form_liveout .search_list li + li {
  margin-top: 2px;
}
.search-form_liveout .search_link {
  display: block;
  padding: 5px 10px;
  background: #fff;
  color: #5e6162;
}
.search-form_liveout .search_link .search_title {
  color: #31ccff;
  text-transform: uppercase;
}
.search-form_liveout .search_link:hover {
  background: #31ccff;
}
.search-form_liveout .search_link:hover .search_title {
  color: #fff;
}
.search-form_liveout .search_link:hover {
  color: #fff;
}
.search-form_liveout .search_error {
  display: block;
  color: #31ccff;
  background: #fafafa;
  padding: 10px 10px;
  overflow: hidden;
}
.search-form_liveout .match {
  display: none;
}
.search-form_liveout button {
  display: block;
  width: 100%;
  color: #31ccff;
  background: #f7f7f7;
  padding: 10px 10px;
}
.search-form_liveout button:hover {
  background: #31ccff;
  color: #fff;
}
input:focus + .search-form_liveout {
  opacity: 1;
}
.lt-ie9 input:focus + .search-form_liveout {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=100);
}
.search-form_liveout .tablet, .mobile .search-form_liveout {
  display: none !important;
}

.search-frame, .search-frame body {
  width: 100%;
  height: auto;
  background: transparent;
}
.search-frame, .search-frame body, .search-frame h1, .search-frame h2, .search-frame h3, .search-frame h4, .search-frame h5, .search-frame h6, .search-frame p, .search-frame em {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
}
.search-frame img {
  max-width: 100%;
  height: auto;
}
.search-frame a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame a:active {
  background: transparent;
}
.search-frame a:focus {
  outline: none;
}
.search-frame h4 {
  color: #31ccff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: none;
}
@media (max-width: 979px) {
  .search-frame h4 {
    font-size: 16px;
    line-height: 16px;
  }
}
.search-frame h4 a:hover {
  color: #000;
}
.search-frame .search_list {
  color: #5e6162;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
  list-style-type: none;
  counter-reset: num1;
}
.search-frame .search_list p {
  font: 400 16px/26px "Roboto", sans-serif;
}
.search-frame .search_list .match {
  color: #31ccff;
  font-size: 12px;
  display: block;
}
.search-frame .search_list li {
  padding-top: 20px;
  padding-left: 50px;
  position: relative;
  padding-bottom: 20px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.search-frame .search_list li:hover {
  background: rgba(49, 204, 255, 0.1);
}
.lt-ie9 .search-frame .search_list li:hover {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A31CCFF', endColorstr='#1A31CCFF')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A31CCFF', endColorstr='#1A31CCFF');
  zoom: 1;
}
.search-frame .search_list li:before {
  content: counter(num1) ".";
  counter-increment: num1;
  position: absolute;
  left: 5px;
  top: 18px;
  width: 24px;
  height: 24px;
  font-size: 20px;
  line-height: inherit;
}
.search-frame .search_list li + li {
  border-top: 2px solid #31ccff;
}
.search-frame .search {
  color: #31ccff;
  font-weight: 700;
}
.search-frame .match {
  color: #31ccff;
  font-size: 12px;
  display: block;
}
.search-frame * + p {
  margin-top: 16px;
}

body.search_body {
  background: #5e6162;
}

.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.search_head {
  padding-bottom: 25px;
}
