.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
    color: #78BEE9;
}

.blue-text {
	color: #123756;
}

.light-blue-text {
	color: #78BEE9;
}

.light-gray-text {
	color: #7E7F7F;
}

.rd-navbar-brand__name{
	font-weight: 500;
	font-size: 50px;
}

.bg-width::before{
	background: #123756;
}

.light-blue-bg-width::before{
	background: #78BEE9;
}

.camera_pag_ul li.cameracurrent, .camera_pag_ul li:hover {
  background: #123756;
}

.bg-primary{
	background: #78BEE9;
}

.sf-menu > li.active > a {
	color: #78BEE9;
}

.toTop{
	background: #78BEE9;
}

.product:hover .product_overlay {
 	opacity: 1;
 	background: #123756;
}

.product_overlay:before {
 	content: url("../images/hoover.png");
 	position: relative;
 	top: 20%;
}	

.blue .border-primary::after {
	border-bottom-color: #123756;
}

.light-blue .border-primary::after{
	border-bottom-color: #78BEE9;
}

.btn-default-variant-1:hover {
    color: #78BEE9;
}

.studio-mark{
	font-size: 12px;
    line-height: 18px;
}

.label{
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
	color: #123756;
	font-weight: bold;
}

.separator{
	padding-top: 25px;
	padding-bottom: 25px;
}

.mt-25{
	margin-top: 25px;
}

.logo{
	margin-top: 10px;
	margin-bottom: 10px;
}

.thumbnail .caption {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
}

.portfolio-p{
	padding-left: 60px;
	padding-right: 60px;
	font-size: 16px;
}

.thumbnail .caption-lg {
   position: absolute;
   top: 30%;
   right: 0;
 }
 .thumbnail .caption-lg .icon {
   margin-left: 7px;
 }
 .thumbnail .caption-lg a {
   -moz-transition: 0.6s all ease;
   -o-transition: 0.6s all ease;
   transition: 0.6s all ease;
 }
 .thumbnail .caption-lg a:hover {
   color: #303334;
 }

.thumbnail:hover .thumbnail_overlay {
	background: #123756;
}

.marked-list li:before {
  color: #78BEE9;
}

.bg-image-left-2::after {
    background-position-x: 100%;
}

.custom-footer{
	font-size: 16px;
}

.bg-image-right-1::after{
	background-position-x: 100%;
}

 /* CUSTOM PRODUCT_OVERLAY */
.product_overlay_tall {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
  background: transparent;
}
.product_overlay_tall:before {
 	content: url("../images/hoover.png");
 	position: relative;
 	top: 30%;
}
.lt-ie9 .product_overlay_tall:before {
	display: none;
}
.product:hover .product_overlay_tall {
	opacity: 1;
	background: #123756;
}
.lt-ie9 .product:hover .product_overlay_tall:before {
	display: block;
}
/* END */

/* CUSTOM PRODUCT_FLAT */
.product_overlay_flat {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
  background: transparent;
}
.product_overlay_flat:before {
 	content: url("../images/hoover.png");
 	position: relative;
 	top: 5%;
}
.lt-ie9 .product_overlay_flat:before {
	display: none;
}
.product:hover .product_overlay_flat {
	opacity: 1;
	background: #123756;
}
.lt-ie9 .product:hover .product_overlay_flat:before {
	display: block;
}
/* END */	

@media (max-width: 767px){
	.product_overlay_flat:before{
		top: 15%;
	}
	.product_overlay:before{
		top: 30%;
	}
}

@media (min-width: 768px) {
	.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
		background: #123756;
	}
	.product_overlay:before{
		top: 25%;
	}
	.custom-font-size-43 {
		font-size: 40px;
	}
}


@media (min-width: 992px){
	.product_overlay:before{
		top: 10%;
	}
	.product_overlay:before {
	 	content: url("../images/hoover-small.png");
	 	position: relative;
	 	top: 20%;
	}
}

@media(max-width:1199px){
	.custom-offset-5{
		margin-top: 5%;
	}
}

@media (min-width: 1200px){
	.img-portfolio-preview{
		width: 100% !important;
	}
	.rd-navbar-brand__name{
		padding-left: 25px;
	}
	header .nav{
		padding-right: 25px;
	}
	.space{
		padding-top: 500px;
	}
	.camera_container{
		padding-bottom: 56.0487%;
	}
	.pl-60{
		padding-left: 60px	};

	.pl-500{
		padding-top: 500px;
	}
	.true-position{
		position: relative;
		top: 50px;
	}
	.well-md{
		padding-top: 325px;
		padding-bottom: 150px;
	}
	.well-md--inset-1{
		padding-bottom: 150px;
	}
	.camera_pag{
		margin-left: 60px;
	}
	.image-wrap{
		margin-top: 200px;
		position: absolute;
		left: -130px;
	}
	.product_overlay_flat:before{
		top: 20%;
	}
	.product_overlay:before {
	 	content: url("../images/hoover.png");
	 	position: relative;
	 	top: 20%;
	}
	.big {
	    line-height: 75px;
	    letter-spacing: 0px;
	    font-size: 64px;
	}
	.pseudo-big{
		font-size: 64px;
		line-height: 75px;
	    letter-spacing: 0px;
	}
	.stuck_container {
    	padding-bottom: 100px;
	}
	.isStuck{
		padding-bottom: 0;
	}
	header .nav {
		padding-top: 40px;
		padding-right: 15px;
	}	
}
/*hlomas CN*/
.mini-submenu{
  background-color: rgba(0, 0, 0, 1);  
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  position: absolute;
  width: 42px;
  z-index: 9999;
}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}
.sideMusic .list-group{
  display:none;
  position: absolute;
  width: 150px;
  background: rgba(120, 190, 233, 1);
  font-size: 15px; 
}
#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
}
.flotante{
	position: absolute;
	margin-top: 0;
	z-index: 9999
}
.sideMusic{
	z-index: 99999;
}

.sideMusic .mini-submenu{
	background: rgba(120, 190, 233, 1);
	border: 1px solid rgba(120, 190, 233, 0.9);
}
.sideMusic .audioplayer{
	background¡: rgba(120, 190, 233, 1);
	border: 1px solid rgba(120, 190, 233, 0.9);
}

.sideMusic .audioplayer-playpause:hover,
.sideMusic .audioplayer-playpause:focus{
	background: rgba(15, 55, 86, 1);
}

.hr-asociado{
	border-color: #78BEE9 !important;
}
.cv-asociado{
	color: #78BEE9;
}

.cv-asociado:hover, .cv-asociado:active{
	color: #123756;
}
.fondo-gris-transparente{
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.8);
}